@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header {
    display: flex;
    flex-direction: column;
}

body {
    font-family: raleway;
}

#welcomeContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#welcomeContainer h1 {
    text-align: center;
    font-size: 150px;
}

#imgWelcome {
    /* justify-self: center; */
}
#descriptionContainer {
    text-align: center;
}

#functionalTitle {
    text-align: center;
}

#infoContainer {
    display: flex;
    justify-content: space-around;
}

#infoContainer p {
    text-align: center;
}

#conditionsSection {
    text-align: center;
}

footer {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    justify-items: center;
}

#logo {
    width: 48px;
}

    justify-self: center;
}

#catalogueSection {
    display: flex;
    flex-direction: column;
    font-family: raleway;
}

#catalogue1,
#catalogue3 {
    display: flex;
    flex-direction: row;
}

#catalogue2 {
    display: flex;
    flex-direction: row-reverse;
}

.productFile {
    background-color: #cb6200;
    font-family: ;
}

h3 {
    color: white;
}

.productDesc {
    color: black;
}
