* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}

header {
    display: flex;
    flex-direction: column;
}

#welcomeContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#welcomeContainer h1 {
    text-align: center;
    font-size: 150px;
}

#imgWelcome {
    /* justify-self: center; */
}
#descriptionContainer {
    text-align: center;
}

#functionalTitle {
    text-align: center;
}

#infoContainer {
    display: flex;
    justify-content: space-around;
}

#infoContainer p {
    text-align: center;
}

#conditionsSection {
    text-align: center;
}

footer {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    justify-items: center;
}

#logo {
    width: 48px;
}

